@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ADMINISTRADOR DE LA TIENDA</h1>
    <img src="https://un.edu.mx/wp-content/uploads/2022/08/Universidad-del-Norte-Como-ser-un-buen-administrador-de-empresas-subtitulo.png" alt="Bienvenido Administrador" class="img-fluid" />
    <p class="lead">Bienvenido administrador de la tienda. En esta página web, puedes crear todo lo relacionado con un producto que estará visible en tu tienda online.</p>
</div>

